@import "src/variable.scss";

.header {
  width: 100%;
  height: 80px;
  background: $main-bg-color;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
}
.main {
  padding-top: 5rem;
}
.logo p {
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}
.add_btn {
  color: white;
  background: $main-bg-color;
  border-radius: 5px;
  outline: none;
  border: 2px solid white;
  margin-right: 10px;
  padding: 0 10px;
  transition: 0.5s all ease;
  width: 210px;
}

.logout_btn {
  width: 120px;
  color: white;
  background: red;
  border-radius: 5px;
  outline: none;
  border: 2px solid white;
  padding: 0 10px;
  transition: 0.5s all ease;
}

.logout_btn:hover {
  letter-spacing: 2px;
}
.add_btn:hover {
  letter-spacing: 2px;
}
.offcanvas.show {
  transform: none;
  width: 40%;
}
.offcanvas-header {
  background: $main-bg-color;
  color: white;
}
.btn-white {
  color: white !important;
}
.fa-trash-can {
  color: red;
}

.employee_card_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 80vh;
}
.employee_card {
  width: 30%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7ff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.employe_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employee_actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.employee_id p {
  margin: 0;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .employee_card {
    width: 40%;
  }
  .custome_btn {
    width: 100%;
  }
}
@media screen and (max-width: 568px) {
  .employee_card {
    width: 100%;
  }
  .custome_btn {
    width: 100%;
  }
}

